# Copyright (C) 2022 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on post-fs-data
    mkdir /data/vendor/nfc 0770 nfc nfc
	
service stflashtool /vendor/bin/STFlashTool
    class late_start
    group nfc
    user nfc
    disabled
    oneshot

service nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service.st
    override
    class hal
    user nfc
    group nfc
    disabled

on post-fs && property:ro.boot.product.hardware.sku=lemon
    start stflashtool
    setprop ro.vendor.se.type HCE,UICC

on boot && property:ro.boot.product.hardware.sku=lemon
    start nfc_hal_service

service vendor.audio-hal /vendor/bin/hw/android.hardware.audio.service
    override
    class hal
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct oem_2901 wakelock
    capabilities BLOCK_SUSPEND SYS_NICE
    # setting RLIMIT_RTPRIO allows binder RT priority inheritance
    rlimit rtprio 10 10
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    socket audio_hw_socket seqpacket 0666 system system
    onrestart restart audioserver
